@section Styles {
    <link rel="stylesheet" href="~/css/top.css" asp-append-version="true" />
}

@* ===== メインボタンエリア ===== *@
<div class="top-main">
    <a href="#" class="btn top-main-btn">○○</a>
    <a href="#" class="btn top-main-btn">△△</a>
    <a href="#" class="btn top-main-btn">マスタ管理</a>
</div>
@section Scripts {
    @* JSはここに書く (直書き or ファイル分けは実際書くときに固める) *@
    @* <script src="~/js/xx/xx.js" asp-append-version="true"></script> *@
}